In [1]:
import pandas as pd

In [177]:
df = pd.read_csv('data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# How many of each race are represented in this dataset?

In [223]:
pd.Series(df.race.value_counts())

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

# What is the average age?

In [4]:
df.age.mean()

38.58164675532078

# What is the average age of men?

In [8]:
df[df.sex == 'Male'].age.mean()

39.43354749885268

# What is the percentage of people who have a Bachelor's degree?

In [34]:
df.education.value_counts().Bachelors/df.size*100

1.0964036731058628

# Advanced Education

In [226]:
higher_education = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# What percentage of people with advanced education (`Bachelors`, `Masters`,
# or `Doctorate`) make more than 50K?

In [152]:
a = df.loc[ (df['education'].isin(['Bachelors','Masters','Doctorate'])) & (df['salary'].isin(['>50K']))]
a.shape[0]/df.shape[0]*100

10.706059396210192

In [141]:
df.loc[((df['education'].isin(['Bachelors'])) | (df['education'].isin(['Masters'])) | (df['education'].isin(['Doctorate']))) & (df['salary'].isin(['>50K']))]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

# What percentage of people without advanced education make more than 50K?

In [154]:
b = df.loc[~((df['education'].isin(['Bachelors'])) | (df['education'].isin(['Masters'])) | (df['education'].isin(['Doctorate']))) & (df['salary'].isin(['>50K']))]
b.shape[0]/df.shape[0]*100

13.374896348392248

# What is the minimum number of hours a person works per week (hours-per-week feature)?

In [167]:
df['hours-per-week'].min()

1

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [172]:
df[(df['hours-per-week'] < 2) & (df['salary'] == '>50K')].shape[0]/df.shape[0]*100

0.006142317496391388

# What country has the highest percentage of people that earn >50K?

In [228]:
df.loc[(df['salary'].isin(['>50K']))]['native-country'].value_counts()[0]

7171

In [230]:
df.loc[(df['salary'].isin(['>50K']))]['native-country'].value_counts()[0]/df.loc[(df['salary'].isin(['>50K']))].shape[0]*100

91.45517153424308

# Identify the most popular occupation for those who earn >50K in India.

In [218]:
df[(df['native-country'].isin(['India'])) & df['salary'].isin(['>50K'])]['occupation'].value_counts()

Prof-specialty      25
Exec-managerial      8
Tech-support         2
Other-service        2
Transport-moving     1
Adm-clerical         1
Sales                1
Name: occupation, dtype: int64